/* You can add global styles to this file, and also import other style files */
body{
    background-color: rgb(151, 240, 158);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}